<h1>Login <span class="errorcode"> TERMINAL</span></h1>
<p class="output">Go back to <a href="login">login</a> or <a href="register">register</a>.</p>

<form action="/forgot-email" method="POST">
    <div class="input">
        <input type="email" name="email" required /> <span class="errorcode"> Enter your Email</span>
    </div>

    <input type="submit" name="submit" value="Submit">
</form>