<h1>Blog <span class="errorcode"> Posts</span></h1>

<section class="output" id="feed-posts" >
    <h4>Posts</h4>
    <form action="/post/create" id="new-post-form" method="POST" >
        <div class="input">
            <textarea name="content" cols="30" rows="3"></textarea>
        </div>
        <input type="submit" value="Post">
    </form>
</section>